<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Login</h4>
	<p class="text-center">Get started with your free account</p>
	<p>
		<a href="../../login/spotify" style="background-color:#81b71a ;color:#ffffff" class="btn btn-block btn-spotify"> <i class="fab fa-spotify"></i>   Login with Spotify</a>
	</p>
	<p>
		<a href="../../login/google"  class="btn btn-primary btn-block btn-google"> <i class="fab fa-google"></i>   Login with Google</a>
	</p>	
	
		<p>
		<a href="../../login/gitlab" style="background-color:#fa7035 ;color:#fff" class="btn btn-block btn-gitlab"> <i class="fab fa-gitlab"></i>   Login with GitLab</a>
	</p>	
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
	<form method="POST" action="../../login" class="">

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" class="form-control" placeholder="Email address" type="email">
    </div> <!-- form-group// -->


    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="password" class="form-control" placeholder="Password" type="password">
    </div> <!-- form-group// -->



    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Log In  </button>
    </div> <!-- form-group// -->      

    <p class="text-center">Create an account <a href="../../signup">Signup</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

