<div class="starter-template">
    <h1>Spotify Basic Web App</h1>
    <p class="lead">Trabajo realizado en el Máster Desarrollo Web Full Stack.<br> Desarrollado por Carlos Velez - 2019/20.</p>
  </div>