<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <!-- Include the above in your HEAD tag -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>
<body>
 <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color" style="background-color:#4285f4 !important">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">spotify-app-exercice</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../../home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../login">Log In</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="../../signup">Sign Up</a>
      </li>      
    </ul>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
<div class="container">
{{{body}}}
</div>
</body>
</html>